<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="uk.ac.ebi.ddi" level="DEBUG" />

    <logger name="uk.ac.ebi.ddi.annotation" level="DEBUG" />
    <logger name="uk.ac.ebi.ddi.xml" level="INFO" />
    <logger name="uk.ac.ebi.ddi.extservices" level="INFO" />
    <logger name="uk.ac.ebi.ddi" level="INFO" />
    <logger name="org.apache.http" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
