<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
    <sources>
        <source>
            <name>pride</name>
            <original-url>/nfs/nobackup/pride/ebeye_files/pride/</original-url>
            <ddi-data>/nfs/nobackup/pride/ebeye_files/prod/data/pride/</ddi-data>
            <type-connection>rsync</type-connection>
            <single-file>yes</single-file>
            <file-pattern>PRIDE_EBEYE*.xml</file-pattern>
        </source>
        <source>
            <name>peptideatlas</name>
            <original-url>/nfs/nobackup/pride/ebeye_files/px/</original-url>
            <ddi-data>/nfs/nobackup/pride/ebeye_files/prod/data/peptideatlas/</ddi-data>
            <type-connection>rsync</type-connection>
            <single-file>yes</single-file>
            <file-pattern>PeptideAtlas_EBEYE_*.xml</file-pattern>
        </source>
        <source>
            <name>massive</name>
            <original-url>/nfs/nobackup/pride/ebeye_files/px/</original-url>
            <ddi-data>/nfs/nobackup/pride/ebeye_files/prod/data/massive/</ddi-data>
            <type-connection>rsync</type-connection>
            <single-file>yes</single-file>
            <file-pattern>MassIVE_EBEYE_*.xml</file-pattern>
        </source>
        <source>
            <name>metabolomeworkbench</name>
            <original-url>/nfs/nobackup/pride/ebeye_files/mw/</original-url>
            <ddi-data>/nfs/nobackup/pride/ebeye_files/prod/data/metabolomeworkbench/</ddi-data>
            <type-connection>rsync</type-connection>
            <single-file>yes</single-file>
            <file-pattern>MetabolomicsWorkbench_EBEYE_*.xml</file-pattern>
        </source>
        <source>
            <name>metaboligths</name>
            <original-url>/nfs/ftp/pub/databases/metabolights/eb-eye-test/</original-url>
            <ddi-data>/nfs/nobackup/pride/ebeye_files/prod/data/metaboligths/</ddi-data>
            <type-connection>rsync</type-connection>
            <single-file>no</single-file>
            <file-pattern>test_export.xml</file-pattern>
        </source>
        <source>
            <name>ega</name>
            <original-url>/nfs/panda/production/ega/EBeye/</original-url>
            <ddi-data>/nfs/nobackup/pride/ebeye_files/prod/data/ega/</ddi-data>
            <type-connection>rsync</type-connection>
            <single-file>no</single-file>
            <file-pattern>ega.xml</file-pattern>
        </source>
    </sources>
</config>